/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/05/2017, 08:10:44 PM
    Author     : GOMEZ
*/
/*
body{
    //background-image: url('../img/cielo_azul.jpg');
}
*/

.btn-redondo{
    width: 100px;
    height: 100px;
    padding-top: 20px;
    align-content: center;
    margin: auto;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 2px solid #f5ebf5;;
}
.alIzq{
    text-align: left;
}

.divScroll {
    overflow: scroll;
    height: 200px;
}

.alDer{
    text-align: right;
}

.alCen{
    text-align: center;
}

.ancho{
    width: 200px;
}

.margenS{
    padding: 8px;
}

.tblCent{
    margin: auto;
    width: 25%;
    text-align: center;
}

.tblCent td, tr {
    padding: 8px;
}

.tblCentContent{
    margin: auto;
    width: 50%;
    text-align: center;
    
}

.tblCentContent td, tr {
    padding: 8px;
}
.tblCentfull{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.tblCentfull td, tr {
    padding: 8px;
}

.title{
    text-align: center;
    padding-top: 50px;
}

.subtitle{
    text-align: center;
    padding-top: 25px;
}

.parrafo{
    text-align: justify;
}

.bienvenida{
    text-align: center;
}

.btn-file{
    position: relative;
    overflow: visible;
}

.btn-file input[type=file]{
    position: absolute;
    top:0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    
    background: inherit;
    display: block;   
    /*outline: none;*/
}